{% extends "layouts/application.html" %}
{% set pageTitle = "Andrew Huth - Articles" %}

{% block content %}
<div class="ph4-ns mw7 center-ns">
  <header>
    <h2>Andrew Huth</h2>
    {% include "sections/nav.html" %}
  </header>
  <main>
    <h1>Articles</h1>
    <ol reversed>
      {% for article in articles | sort(attribute='date') | reverse %}
      <li><time class="courier" datetime="{{ article.formattedDate }}">{{ article.formattedDate }}</time> - <a href="{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
    </ol>
  </main>
</div>
{% endblock %}
