pre {
  background-color: #111;
  color: snow;
  font-family: monospace;
  line-height: 1.375;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

.token.comment {
  color: grey;
}

.token.function {
  color: skyblue;
}

.token.number {
  color: lightcoral;
}
