<style>
  code {
    /* Ensure syntax highlighting looks okay in light and dark modes */
    background-color: unset;
  }

  pre code {
    /* Ensure syntax highlighting looks okay in light and dark modes */
    color: unset;
  }

  @media (prefers-color-scheme: dark) {
    body {
      /* Match bearblog.dev's background color. */
      background-color: #01242e;
    }

    code {
      /* Ensure syntax highlighting looks okay in light and dark modes */
      background-color: unset;
    }

    pre code {
      /* Ensure syntax highlighting looks okay in light and dark modes */
      color: unset;
    }
  }
</style>
