{% extends "layouts/application.html" %}
{% set pageTitle = "Andrew Huth - Projects" %}

{% block content %}
<div class="ph4-ns mw7 center-ns">
  <header>
    <h2>Andrew Huth</h2>
    {% include "sections/nav.html" %}
  </header>
  <main>
    <h1>Projects</h1>
    <ul>
      {% for project in projects | sort(attribute='name') %}
      <li class="mb1">
        <a href="{{ project.href }}">{{ project.name }}</a>{% if project.demo %} (<a href="{{ project.demo }}">Demo</a>){% endif %}
        <span>{{ project.blurb }}</span>
      </li>
      {% endfor %}
    </ul>
  </main>
</div>
{% endblock %}
