/* Ensure the focus outlines are visible on the black background. */
:focus { outline-color: hotpink; }

a { color: deepskyblue; }
body { line-height: 1.5; }

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.projects { grid-area: projects; }
.articles { grid-area: articles; }

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "projects"
    "articles";
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "projects articles";
  }
}
