<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle if pageTitle else "Andrew Huth" }}</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/highlight.js@9.17.1/styles/atom-one-dark.css" />
  <style>
    a { color: deepskyblue; }
    body { font-size: 1.125rem; }
    pre { font-size: 1rem }
  </style>
</head>

<body class="sans-serif lh-copy bg-black near-white">
  {% block content %}{% endblock %}
  {% include "layouts/analytics.html" %}
</body>

</html>
